img{border:0}
body{background:#c7f0fa;color:#222;font-family:Arial}
a{text-decoration:none}
a:hover{text-decoration:underline}
.form .L{text-align:right}
.form label{color:#444}
.form .R{text-align:left}
.login_register{position:absolute;top:10px;right:10px;font-size:90%}
.footer{font-size:90%}
